# SQL
Structured Query Language which is a standard Language for managing and manipulating the relational Database.

In [1]:
import sqlite3

In [2]:
# Connect To an SQLite Database
# connection object represent the whole database

connection = sqlite3.connect('example.db')   # sqlite3.connect("Filename.db") --> Is used to connect the Database     
connection                                    # This will print that the connection is present at this memory location

In [3]:
# Creating a Table

# cursor is like a pointer which points at the row and column of the database
cursor = connection.cursor()   # db.cursor() --> Is used to create a cursor which will iterate over the rows and columns of the Table

# cursor.execute(''' ''') --> Is used to send queries to the database 
cursor.execute(
    '''
    create Table if Not Exists employee(
        id integer Primary key,
        name Text Not Null,
        age integer,
        department text
    )
    '''
)
# Primary key is the column which specifies each row uniquely and cannot be null


# Commit the Changes after every crud operation we need to commit the changes
# It Saves the changes
connection.commit()

In [4]:
cursor.execute(
    '''
    select * from employee
    '''
    )

# It will give us an cursor object At some memory location

In [5]:
# Inserting the data
cursor.execute('''
               insert into employee(name,age,department)
               values('Naman Upadhyay','20','ML Engineer'),
               ('Smit Sutariya','20','Cloud Engineer'),
               ('Hitesh Singh','20','Data Scientist');
                    
               
               ''')

# commit the changes
connection.commit()

In [6]:
# Quering the data

cursor.execute('select * from employee')

# fetchall() --> Is used to get results from the cursor
rows = cursor.fetchall()

# print thr querid data

for row in rows:
    print(row)

(1, 'Naman Upadhyay', 21, 'ML Engineer')
(2, 'Smit Sutariya', 20, 'Cloud Engineer')
(3, 'Hitesh Singh', 20, 'Data Scientist')
(4, 'Naman Upadhyay', 21, 'ML Engineer')
(5, 'Smit Sutariya', 20, 'Cloud Engineer')
(6, 'Hitesh Singh', 20, 'Data Scientist')
(7, 'Naman Upadhyay', 20, 'ML Engineer')
(8, 'Smit Sutariya', 20, 'Cloud Engineer')
(9, 'Hitesh Singh', 20, 'Data Scientist')

In [12]:
# Update the data of table

cursor.execute('''
UPDATE employee
Set age = 21
where name = "Naman Upadhyay"
''')

connection.commit()

In [13]:
cursor.execute('select * from employee')

# fetchall() --> Is used to get results from the cursor
rows = cursor.fetchall()

# print thr querid data

for row in rows:
    print(row)

(1, 'Naman Upadhyay', 21, 'ML Engineer')
(2, 'Smit Sutariya', 20, 'Cloud Engineer')
(3, 'Hitesh Singh', 20, 'Data Scientist')
(4, 'Naman Upadhyay', 21, 'ML Engineer')
(5, 'Smit Sutariya', 20, 'Cloud Engineer')
(6, 'Hitesh Singh', 20, 'Data Scientist')

In [ ]:
#  Deleting the Data from the table

cursor.execute('''
DELETE from employee
where id > 3
               ''')
# from string or text data type should use = and ''

In [15]:
cursor.execute('select * from employee')

# fetchall() --> Is used to get results from the cursor
rows = cursor.fetchall()

# print thr querid data

for row in rows:
    print(row)

(1, 'Naman Upadhyay', 21, 'ML Engineer')
(2, 'Smit Sutariya', 20, 'Cloud Engineer')
(3, 'Hitesh Singh', 20, 'Data Scientist')

# Example --> Sales Database

In [41]:
# Sales Data
connection = sqlite3.connect('sales_data')
cursor = connection.cursor()


# Drop Table
cursor.execute('''
drop table if exists sales
''')


# Create a Table
cursor.execute('''
create table sales(
    id integer primary key,
    date text Not NULL,
    product text Not NULL,
    sales integer,
    region text
)
''')
# Here no need to writing if not exists because every time it is dropping the table

# Inserting the data
sales_data = [
    ('2023-01-01','Product1',100,'North'),
    ('2023-01-02','Product2',150,'Easr'),
    ('2023-01-04','Product3',170,'West'),
    ('2023-01-05','Product4',200,'South'),
    ] 
# cursror.executemany() --> is used when we want to insert many data toghter 
cursor.executemany('''
insert into sales(date,product,sales,region)
values(?,?,?,?)

''',sales_data)


# Printing the data
cursor.execute('select * from sales')
rows = cursor.fetchall()

for row in rows:
    print(row)
    
connection.commit()

# .close() --> is used for closing the connection 
connection.close()

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 150, 'Easr')
(3, '2023-01-04', 'Product3', 170, 'West')
(4, '2023-01-05', 'Product4', 200, 'South')